<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments/styles :: styles}"></th:block>
    <title>Document</title>
</head>

<body class="bg-dark">
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main class="ps-2 bg-dark w-75 ms-auto vh-100">
        <h1 class="text-light fw-light">Create una nuova categoria</h1>
        <form th:action="@{'/categories/create'}" method="POST" th:object="${category}">
            <div>
                <label for="title">Titolo:</label>
                <input id="title" type="text" th:field="*{title}">
            </div>
            <div>
                <label for="description">Descrizione:</label>
                <input id="description" type="text" th:field="*{description}">
            </div>
            <button type="submit">Salva</button>
        </form>
    </main>
    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

</body>

</html>