<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments/styles :: styles}"></th:block>
    <title>Document</title>
</head>

<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main class="bg-dark w-75 ms-auto vh-100 p-5">
        <h1 class="text-light fw-light">Aggiorna film</h1>

        <form class="text-light" th:action="@{'/movies/' + ${movie.id} + '/update'}" th:object="${movie}" method="POST">
            <div class="row mb-3">
                <label class="col-4" for="title">Nome</label>
                <input class="col-4" id="title" type="text" th:field="*{title}">
                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
             <div class="row mb-3">
                <label class="col-4" for="movieURL">URL Immagine</label>
                <input class="col-4" id="movieURL" type="text" th:field="*{movieURL}">
                <div class="text-danger" th:if="${#fields.hasErrors('movieURL')}" th:errors="*{movieURL}"></div>
            </div>
            <div class="row mb-3">
                <label class="col-4" for="description">Descrizioine</label>
                <textarea class="col-4" id="description" type="text" rows="8" th:field="*{description}"></textarea>
                <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <div class="row mb-3">
                <label class="col-4" for="rating">Punteggio</label>
                <input class="col-4" id="rating" type="number" step="0.1" th:field="*{rating}">
                <div class="text-danger" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></div>
            </div>
            <div class="row mb-3">
                <label class="col-4" for="price">Prezzo</label>
                <input class="col-4" id="price" type="number" step="0.01" th:field="*{price}">
                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>
            <div class="row mb-3">
                <label class="col-4 w-25" th:each="category : ${categories}">
                    <input type="checkbox" name="categoryIds" th:value="${category.id}"
                        th:checked="${movie.categories.contains(category)}">
                    <span th:text="${category.title}"></span>
                </label>
            </div>
            <input type="hidden" name="_method" value="PUT">
            <button class="btn btn-success" type="submit">Salva</button>
        </form>
    </main>

    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

</body>

</html>